*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    justify-content: center;
    display: flex;
    background-color: rgba(0, 217, 255, 0.126);
}
#container{
    margin: 40px;
    justify-content: center;
    display: table;
}
#container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}
#innerdiv{
    background-color: rgb(255, 255, 255);
    /* height: 500px; */
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.276);
    width: 400px;
}

#pic{
    margin: 10px;
    height: 220px;
    width: 150px;
    margin-left: 135px;
    border-radius: 95px;
    box-shadow: 0 7px 7px 7px rgba(0, 191, 255, 0.352);
}
#name{
    font-size: 30px;
    justify-content: center;
    display: flex;
}
#Hobby{
    justify-content: center;
    display: flex;
    font-size: larger;
}
#divabout{
    padding: 10px;
    height: 100px;
    margin-left: 45px;
    width: 300px;
}
#buttondiv{
    justify-content: center;
    display: flex;
}
#next1{
    margin-right: 20px;
}
#next2{
    margin-left: 20px;
}
#next1 img:hover{
    height: 25;
    margin-right: 20px;
}
#next2 img:hover{
    margin-left: 20px;
}
#last{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
#follow{
    justify-content: center;
    display: flex;
    height: 38px;
    list-style: none;
    text-decoration: none;
    width: 100px;
}
#follow:hover{
    /* background-color: rgba(0, 255, 255, 0.281); */
    box-shadow: 0 10px blue;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40px;
    width: 102px;
}
@media screen and (max-width:700px) {

    #container{
    justify-content: center;
    display: table;
}
#innerdiv{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.276);
    width: 300px;}

    #pic{
        margin: 10px;
        height: 220px;
        width: 150px;
        margin-left: 80px;
        border-radius: 95px;
        box-shadow: 0 7px 7px 7px rgba(0, 191, 255, 0.352);
    }
    #name{
        font-size: 30px;
        justify-content: center;
        display: flex;
    }
    #Hobby{
        justify-content: center;
        display: flex;
        font-size: larger;
    }
    #divabout{
        padding: 10px;
        height: 100px;
        margin-left: 2px;
        /* justify-content: center;
        display: flex; */
        width: 300px;
    }
    #info{
        justify-content: center;
        display: flex;
    }

    #buttondiv{
        justify-content: center;
        display: flex;
    }
    #next1{
        margin-right: 20px;
    }
    #next2{
        margin-left: 20px;
    }
    #next1 img:hover{
        height: 25;
        margin-right: 20px;
    }
    #next2 img:hover{
        margin-left: 20px;
    }
    #last{
        margin-top: 20px;
        justify-content: center;
        display: flex;
    }
    #follow{
        justify-content: center;
        display: flex;
        height: 38px;
        list-style: none;
        text-decoration: none;
        width: 100px;
    }
    #follow:hover{
        /* background-color: rgba(0, 255, 255, 0.281); */
        box-shadow: 0 10px blue ;
        letter-spacing: 2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 40px;
        width: 102px;
    }
}

