*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body{
    background-color: rgb(255, 255, 255);
}
#main{
    height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
}
#span{
    color: aliceblue;
    float: right;
    font-size: 10px;
    padding: 12px;
}
#calculator{
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.402);
    background-color: rgb(0, 0, 0);
    margin-top: 180px;

    border-radius: 7px;
}

#result{
    padding: 12px;
    color: rgb(255, 255, 255);
    height: 80px;
    width: 40px;
    font-size: 40px;
}

#calculator button{
    background-color: orange;
    font-size: 26px;
    height: 80px;
    width: 70px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.233);
    margin: 10px;
    border-radius: 10px;
}
#calculator button:hover{
    height: 85px;
    width: 75px;
    color: white;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.233);
    margin: 10px;
    border-radius: 10px;
}
#plus{
    color: aliceblue;
}
#minus{
    font-size: 90px;
    color: aliceblue;
}
#mult{
    color: aliceblue;
}
#divi{
    color: aliceblue;
}
#c{
    color: aliceblue;
}
#equal{
    color: aliceblue;
}
@media  screen and (max-width:700px) {
    #main{
        height: 100%;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        display: flex;
    }
    #calculator{
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.402);
        background-color: rgb(0, 0, 0);
        margin-top: 100px;
        width: 320px;
        width: 330px;
        height: 550px;
        border-radius: 7px;
    }
    
    #result{
        padding: 12px;
        color: rgb(255, 255, 255);
        height: 80px;
        font-size: 40px;
    }
    
    #calculator button{
        background-color: orange;
        font-size: 20px;
        height: 90px;
        width: 67px;
        box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.272);
        margin: 6px;
        border-radius: 10px;
    }
    #calculator button:hover{
        background-color: orange;
        font-size: 22px;
        height: 92px;
        color: aliceblue;
        width: 68px;
        box-shadow: 0 6px 6px 6px rgba(255, 255, 255, 0.233);
        margin: 6px;
        border-radius: 10px;
    }
    
}